<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845221610574-1m2lo7jbp2sik0p792jevpojk73ocptk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845221610574-1m2lo7jbp2sik0p792jevpojk73ocptk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>845221610574-0s404vkj5jc7lu89fi5cvbuc19t51q7c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkDFx9lvpvEAFNuX__fQBB-w9CzoeqZqA</string>
	<key>GCM_SENDER_ID</key>
	<string>845221610574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apexdevelopment.libaro</string>
	<key>PROJECT_ID</key>
	<string>linked-network-online</string>
	<key>STORAGE_BUCKET</key>
	<string>linked-network-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845221610574:ios:d0abcdcb8440b922d76f1f</string>
	<key>DATABASE_URL</key>
	<string>https://linked-network-online-default-rtdb.firebaseio.com</string>
</dict>
</plist>